* {
    border: 0;
    padding: 0;
}

body {
    background: radial-gradient(#d6c3c3, #e8b4d6)
}

.title {
    font-family: 'Permanent Marker', cursive;
    color: #7c1ea4;
    text-align: center;
    font-size: 5em;
    border: 0;
    margin:0;
}



.timer, .turns {
    color: #7c1ea4;
    font-family: 'Caveat', cursive;
    font-size: 2em;
}

/* Card*/

.card {
    background-color: #0c33a7;
    height: 200px;
    width: 150px;
    border-radius: 10%;
    margin: 5px;
}



/* Hide */

.hide {
    display: none;
}

/*Different Page Areas*/

.card-area {
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin: auto;
    width: 75%;
}